<div class="root">
  <h1>weclome {{name}} </h1>
  <br><br>
  <h3>Restful Task API</h3>
  <br><br>
  <div id="contant">
  <h3>Add New Task</h3>
<form (submit)="onSubmit()" >
    <p> {{ newTask | json }} </p>
    <label>Title:</label>
    <input type="text" name="title" [(ngModel)]="newTask.title" /><br>
    <label>Description:</label>
    <input type="text" name="description" [(ngModel)]="newTask.description" />
    <input type="submit" value="Create Task" />
</form>
<br><br>
  <button (click)="GetAllTasks()">Get All Tasks</button>
  <br><br>
  <div id="tasks" *ngFor="let i of tasks | keyvalue">
    <b>Title: </b> {{i.value['title']}}    
    <button (click)="GetTaskByID(i.value)">Show task details</button><br> 
    <button (click)="toggleDisplay(i.value)">Edit task </button><br> 
    <button (click)="DeleteTask(i.value['_id'])">Delete task </button><br> 
    <br>
  </div>
  <app-task *ngIf='task' [GetTaskByID]='task'>  </app-task> 
<div [hidden] = "isShow">
    <form (submit)="EditTask(editTask)" >
        <p> {{ editTask | json }} </p>
        <label>Title:</label>
        <input type="text"  name="title" [(ngModel)]="editTask.title" /><br>
        <label>Description:</label>
        <input type="text" name="description"  [(ngModel)]="editTask.description" />
        <input type="submit" value="Updated" />
    </form>
</div>
  </div>